$font-stack: 'Open Sans', sans-serif;
$primary-color: #2f4f4f;
$tuna-color: #474c56;
$black-color: #000000;
$red-color: #ff3b30;
$linen-color: #f9f1e9;
$white-color: white;
$ghostwhite-color: ghostwhite;
$lightblue-color: lightsteelblue;
$hawkesblue-color: #d8dfea;
$green-color: mediumspringgreen;
$yellow-color: yellow;
$gray-color: #717b8e;
$transparent-color: transparent;
$transition-duration: 0.4s;