@import 'reset';
@import 'fonts';
@import 'variables';

body {
  font-family: $font-stack;
  font-weight: 400;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $primary-color;
}

.page-content {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: 300;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 7px;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  color: $linen-color;
  text-shadow: 2px 8px 6px rgba($black-color, 0.2), 0 -5px 35px rgba($white-color, 0.3);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  user-select: none;
  span {
    color: $green-color;
    transition-duration: $transition-duration;
    &:hover {
      color: $yellow-color;
    }
  }

  #openModalBtn {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-indent: 3px;
    color: $primary-color;
    background-color: rgba($ghostwhite-color, 0.6);
    border-radius: 4px;
    border: 1px solid $white-color;
    margin-top: 40px;
    width: 190px;
    height: 60px;
    outline: none;
    cursor: pointer;
    transition-duration: $transition-duration;
    &:hover {
      color: $ghostwhite-color;
      background-color: rgba($primary-color, 0.8);
    }
    &:active {
      color: $lightblue-color;
      border-color: $lightblue-color;
      background-color: $primary-color;
    }
  }

}

.alert-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow: hidden;
  outline: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black-color, 0.7);
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white-color;
  width: 535px;
  height: 360px;
  border-radius: 4px;

  .modal-header {
    padding: 20px 20px 0;
    text-align: left;

    .close-btn img {
      width: 24px;
      height: 24px;
      cursor: pointer;
      opacity: 0.5;
      transition-duration: $transition-duration;
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: 0.7;
      }
    }

  }

  .modal-body {
    padding: 0 20px;
    p {
      font-size: 24px;
      line-height: 30px;
      color: $tuna-color;
      margin-left: 50px;
      margin-right: 50px;
    }

    .warning img {
      width: 96px;
      height: 88px;
      margin-bottom: 20px;
    }
  }

  .modal-footer {
    padding: 40px 20px 40px;
    button {
      font-size: 15px;
      font-weight: bold;
      width: 190px;
      height: 36px;
      margin: 12px 10px;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      transition: $transition-duration;
      &:hover {
        box-shadow: 0 2px 2px 0 rgba($black-color, 0.2), 0 2px 2px 0 rgba($black-color, 0.19);
      }
      &:active {
        box-shadow: 0 1px 2px 0 rgba($black-color, 0.15), 0 1px 2px 0 rgba($black-color, 0.1);
      }

    }

    .default-btn {
      border: 1px solid $hawkesblue-color;
      color: $gray-color;
      background-color: $transparent-color;
    }

    .red-btn {
      border: 1px solid $red-color;
      color: $white-color;
      background-color: $red-color;
    }

  }

}
